.button_send_container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.send_new_post_button{
    display: flex;
    padding: 15px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #E3E6ED;
    background: #F5F5F7;
    cursor: pointer;

    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}