.main_nav_menu{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;

    border-radius: 16px;
    background: #e2e4e9;
    height: 715px;
    width: 20%;
    padding: 15px;
    gap: 20px;
}

.main_nav_menu_list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
}

.main_nav_menu_list_item{
    display: flex;
    align-items:center;
    justify-content: flex-start;

    width: 100%;
    height: 30px;
    cursor: pointer;

    color: rgb(69, 66, 66);
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


