.friend_message_container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    width: 100%;
}

.message_content_container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    max-width: 400px;
    padding: 15px;
    gap: 5px;

    border-radius: 20px;
    background: #FFF;
}

.message_content_text{
    color: #1D1D1F;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}

.time_and_status_message{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    width: 100%;
    gap: 5px;
}

.time_message{
    color: #A1A9C3;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}